@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.text-primary{
  color: #EF6B2F
}
.text-secondary{
  color: #20234A
}


.bg-primary {
  background-color: #20234A;
}
/* carousel */
